.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flickering {
    &::before,
    &::after {
        content: attr(data-text);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    
    &::before {
        left: 1px;
        text-shadow: #3D3D3D 0px 0px;
        animation: 20s linear 0s infinite alternate-reverse none running clipAnimation-2;
    }

    &::after {
        left: -1px;
        text-shadow: #FFF7C2 4px 0px;
        animation: 2.5s linear 0s infinite alternate-reverse none running clipAnimation;
    }
}

@keyframes clipAnimation {
    0% {
        clip-path: inset(29% 0px 25%);
    }
    5% {
        clip-path: inset(9% 0px 38%);
    }
    10% {
        clip-path: inset(96% 0px 1%);
    }
    15% {
        clip-path: inset(75% 0px 23%);
    }
    20% {
        clip-path: inset(46% 0px 50%);
    }
    25% {
        clip-path: inset(3% 0px 46%);
    }
    30% {
        clip-path: inset(82% 0px 2%);
    }
    35% {
        clip-path: inset(88% 0px 1%);
    }
    40% {
        clip-path: inset(91% 0px 8%);
    }
    45% {
        clip-path: inset(96% 0px 2%);
    }
    50% {
        clip-path: inset(59% 0px 38%);
    }
    55% {
        clip-path: inset(41% 0px 53%);
    }
    60% {
        clip-path: inset(21% 0px 47%);
    }
    65% {
        clip-path: inset(89% 0px 4%);
    }
    70% {
        clip-path: inset(1% 0px 95%);
    }
    75% {
        clip-path: inset(86% 0px 4%);
    }
    80% {
        clip-path: inset(95% 0px 5%);
    }
    85% {
        clip-path: inset(54% 0px 36%);
    }
    90% {
        clip-path: inset(70% 0px 27%);
    }
    95% {
        clip-path: inset(6% 0px 16%);
    }
    100% {
        clip-path: inset(95% 0px 2%);
    }
}

@keyframes clipAnimation2 {
    0% {
        clip-path: inset(29% 0px 25%);
    }
    5% {
        clip-path: inset(9% 0px 38%);
    }
    10% {
        clip-path: inset(96% 0px 1%);
    }
    15% {
        clip-path: inset(75% 0px 23%);
    }
    20% {
        clip-path: inset(46% 0px 50%);
    }
    25% {
        clip-path: inset(3% 0px 46%);
    }
    30% {
        clip-path: inset(82% 0px 2%);
    }
    35% {
        clip-path: inset(88% 0px 1%);
    }
    40% {
        clip-path: inset(91% 0px 8%);
    }
    45% {
        clip-path: inset(96% 0px 2%);
    }
    50% {
        clip-path: inset(59% 0px 38%);
    }
    55% {
        clip-path: inset(41% 0px 53%);
    }
    60% {
        clip-path: inset(21% 0px 47%);
    }
    65% {
        clip-path: inset(89% 0px 4%);
    }
    70% {
        clip-path: inset(1% 0px 95%);
    }
    75% {
        clip-path: inset(86% 0px 4%);
    }
    80% {
        clip-path: inset(95% 0px 5%);
    }
    85% {
        clip-path: inset(54% 0px 36%);
    }
    90% {
        clip-path: inset(70% 0px 27%);
    }
    95% {
        clip-path: inset(6% 0px 16%);
    }
    100% {
        clip-path: inset(95% 0px 2%);
    }
}

.header {
    background-color: var(--header-background-color);
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 3;

    &_container {
        @extend .flex-row-space-between;

        a {
            text-decoration: none;
            color: var(--header-text-color);
        }

        #nav_title {
            position: relative;
            text-transform: uppercase;
            letter-spacing: 6px;
            @extend .flickering;
        }

        .inner_container {
            @extend .flex-row-space-between;
            text-transform: uppercase;
            gap: 20px;

            .hamburger_container {
                cursor: pointer;
                display: none;

                svg {
                    width: 40px;
                    height: 40px;
                    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
                    color: var(--text-color);

                    path {
                        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
                        stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
                        stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);

                        &:nth-child(1) {
                            transform-origin: 36% 40%;
                        }

                        &:nth-child(2) {
                            stroke-dasharray: 29 299;
                        }

                        &:nth-child(3) {
                            transform-origin: 35% 63%;
                        }

                        &:nth-child(4) {
                            stroke-dasharray: 29 299;
                        }

                        &:nth-child(5) {
                            transform-origin: 61% 52%;
                        }

                        &:nth-child(6) {
                            transform-origin: 62% 52%;
                        }
                    }
                }

                &_active svg {
                    transform: rotate(90deg);

                    path {
                        &:nth-child(1) {
                            transform: translateX(9px) translateY(1px) rotate(45deg);
                        }

                        &:nth-child(2) {
                            stroke-dasharray: 225 299;
                            stroke-dashoffset: -72px;
                        }

                        &:nth-child(3) {
                            transform: translateX(9px) translateY(1px) rotate(-45deg);
                        }

                        &:nth-child(4) {
                            stroke-dasharray: 225 299;
                            stroke-dashoffset: -72px;
                        }

                        &:nth-child(5) {
                            transform: translateX(9px) translateY(1px) rotate(-45deg);
                        }

                        &:nth-child(6) {
                            transform: translateX(9px) translateY(1px) rotate(45deg);
                        }
                    }
                }                
            }

            .menu_items {
                @extend .flex-row-space-between;
                text-transform: uppercase;
                gap: 20px;

                a:hover {
                    position: relative;
                    @extend .flickering;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {
        padding: 20px 20px;

        .inner_container {
            .hamburger_container {
                display: flex;
            }

            .menu_items {
                box-sizing: border-box;
                position: absolute;
                flex-direction: column;
                justify-content: start;
                gap: 30px;
                left: 0;
                top: 80px;
                width: 100%;
                height: 0;
                padding: 50px;
                background-color: var(--header-background-color);
                opacity: 0;
                transition: all 0.5s ease-in-out;

                &_active {
                    opacity: 1;
                    height: 300px;
                }
            }
        }
    }
    
}